/BookStoreEJB/nbproject/private/
/BookStoreEJB/BookStoreEJB-war/nbproject/private/
/BookStoreEJB/BookStoreEJB-ejb/nbproject/private/
/BookStoreEJB/BookStoreEJB-ejb/build/
/BookStoreEJB/BookStoreEJB-war/build/
/BookStoreEJB/build/
/BookStoreEJB/BookStoreEJB-war/dist/
/BookStoreEJB/BookStoreEJB-ejb/dist/
/BookStoreEJB/dist/
